* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f3f3;
    color: #333;
}

header {
    background-position: center;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    text-align: center;
}

.header-content h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.header-content p {
    font-size: 20px;
    font-style: italic;
}

.intro {
    padding: 40px;
    text-align: center;
    background-color: #fff;
    margin-bottom: 20px;
}

.intro h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.intro p {
    font-size: 18px;
    line-height: 1.6;
}
.img{
    display: block; /* Hace que la imagen se comporte como un bloque */
    margin-left: auto; /* Margen izquierdo automático */
    margin-right: auto; /* Margen derecho automático */
    max-width: 100%; /* Evita que la imagen desborde el contenedor */
    height: 380px; 
}
